body{
    background-color:#F8F8FF;
}
nav{
    width: 100%;
}
.container-fluid {
    margin: 0 60px 0 60px;
    
}
.container {
    width: 100%;
}
.row {
    margin: 0 0 30px 0;
} 
#auth {
    margin-right: 10px;
    width: 80px;
    height: 40px;
}
input {
    margin: 10px 0 10px 0;
}
.kotak {
    margin: 0 0 0 0;
    background-color: white;
    width: 100%;
    height: 500px;
    
}
#about {
    text-align: center;
    padding: 0px 60px 0 60px;
}
