* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#F8F8FF;
}
@media (min-width:640px)
{
    .jumbo ,.interest{
        float: left;
       width: 100%;
    }
}
@media(min-width:768px)
{
    .jumbo
    {
        float: left;
    }
    .interest
    {
        width: 250px;
    }
}
@media(min-width:1024px){
    .interest
    {
        width: 300px;
    }
}
@media (min-width: 1280px) {
    .jumbo{
        float: left;
       width: 50%;
    }
    .interest 
    {
        width: 350px;
    }
}
nav{
    width: 100%;
}
.container-fluid {
    margin: 0 60px 0 60px;
    
}
.jumbo {
    background-color: white;
   height: auto;
    padding: 30px 100px 30px 100px;
    border-radius: .3125rem;
    width: 100%;
    min-width: 600px;
   
}

#auth {
    margin-right: 10px;
    width: 80px;
    height: 40px;
}
input {
    margin: 10px 0 10px 0;
}
.kotak {
    margin: 0 0 0 0;
    background-color: white;
    width: 100%;
    height: 500px;
    
}
#about {
    text-align: center;
    padding: 0px 60px 0 60px;
}

.roundedimg
{   width: 48px;
    height: 48px;
    border-radius: 50% ;
}
.interest{
    padding: 1rem;
    padding-bottom: 0;
    border: 1px solid #2d3e50;
    border-radius: 8px;
    height: auto;
    
}
.interest #labelinterest{
    padding: .5rem;
    border: 1px solid #2d3e50;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 500;
    width: 100%;
}

#labelinterest{
    
    position: relative;
  
    margin-bottom: 20px;
    vertical-align: top;
    display: inline;
} 
#labelinterest:hover{
   
    background-color: gray;
}

#checkinterest:checked + #labelinterest
{
    filter: contrast(0.8);
    background-color: gray;
   
}
#teachingimg{
    max-width: 100%;
    height: auto;
}

